@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="mainText">
            <h1 class="display-4 text-capitalize text-black">Welcome to asdjo pizzaa</h1>
    <h2 class="mainSubtitle">Razorr pasidfdsif pizzasd sdkjfnskjfen</h2>

    </div>

    <img class="mainImage" src="~/images/PizzaTime.jpg" />
    <br />
<a class="btn btn-primary nav-link text-dark" asp-area="" asp-page="Checkout/ThankYou">gett pasfipdi pizza</a>

</div>
