@model List<efudemycourse1_mvc.Models.Cow>



<h3>kajdnjkenfewjkfnwe</h3>
<br />
<br />
<br />

<p>kmzway87aa</p>

<br />
<h1>jujujujujujujuuju</h1>


<br />
<br />

<ul>
	@foreach(var i in Model){
<li><p>Name : @i.Name</p>
<p>Age : @i.Age</p></li>
}
</ul>

